.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.reference {
  width: 100%;
  height: 100%;
  position: relative;
}

.section {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 200, 0.5);
  border-left: 1px solid white;
  border-right: 1px solid white;
}
