.container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
}

.reference {
  width: 100%;
  position: relative;
}

.section {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 200, 0.5);
  cursor:pointer;
}
