.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #555;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  display: block;
}

.section {
  display: block;
  padding: 1rem .75rem;
  border-bottom: 1px solid #999;
  cursor: pointer;
}

.sectionActive {
  composes: section;
  background-color: #e9e9e9;
}

.sectionInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid #555;
  background: #e9e9e9;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.title,
.headerLeft {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main {
  flex: 1;
  padding: 1rem;
}

.label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.range {
  font-size: 0.75rem;
  font-style: italic;
  color: #444;
}

.input {
  resize: none;
  width: 100%;
  height: 4rem;
  display: block;
  border: 0;
  border-top: 1px solid #555;
  padding: .5rem;
  margin: 0;
}

.input:active,
.input:focus {
  outline: 0;
  background: #eee;
}

.comment {
  border: 1px solid #555;
  border-radius: 3px;
  padding: .5rem;
  margin-bottom: .5rem;
  width: 80%;
}

.ownedComment {
  composes: comment;
  margin-left: auto;
  background-color: #e9e9e9;
}

.commentMetaData {
  font-size: 0.65rem;
  font-style: italic;
  text-align: right;
}


.sectionMetaData {
  font-size: 0.65rem;
  font-style: italic;
}

.headerButton {
  border: 0;
  background-color: transparent;
  padding: .5rem .75rem;
  cursor:pointer;
}

.sectionContextMenuButton {
  composes: headerButton;
  margin-right: -.75rem;
}

.sectionBackButton {
  composes: headerButton;
  margin-left: -.75rem;
}

.headerButton:active,
.headerButton:hover,
.headerButton:focus {
  outline: 0;
}
