/* Components */
.main {
  width: 2px;
  position: absolute;
  background-color: white;
  height: 100%;
  bottom: 0;
  top: 0;
  opacity: 0.4;
}

.top {
  width: 2px;
  position: absolute;
  background-color: white;
  height: 20px;
  top: 0;
}

.bottom {
  width: 2px;
  position: absolute;
  background-color: white;
  height: 20px;
  bottom: 0;
}

.container {
  width: 2px;
  position: absolute;
  height: 100%;
  top: 0;
}
