/* Components */
.base {
  width: 2px;
  position: absolute;
}

.cursor {
  background-color: white;
}

.center {
  height: 100%;
}

.edge {
  height: 20px;
}

/* Classes */
.container {
  composes: base center;
  top: 0;
}

.main {
  composes: base cursor center;
  bottom: 0;
  top: 0;
  opacity: 0.4;
}

.top {
  composes: base cursor edge;
  top: 0;
}

.bottom {
  composes: base cursor edge;
  bottom: 0;
}
