.container {
  width: 300px;
  margin: 2.5rem auto 0;
  padding: 1rem;
  background: white;
}

.header {

}

.closeButton {

}

.container {

}

.actions {
  float: right;
}

.postButton {

}

.deleteButton {

}
