.container {

}

.placeholder {
  font-style: italic;
}

.comment {

}

.actions {
  float: right;
}

.editButton {

}

.deleteButton {

}

.inputContainer {
 width: 100%;
}

.input {
 width: 100%;
}
