.visualiser_container {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.interface_container {
  width: 100%;
  position: relative;
  height: 40px;
}

.interface_control {
  width: 6px;
  height: 40px;
  position: absolute;
  top: -10px;
  background-color: white;
}
