.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  text-align: center;
  user-select: none;
}
